body{

	background: #70e1f5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
	background:lightblue;
	margin:0;
	padding-left: 10px;
	line-height: 40px;
	color:white;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	height: 40px;

}
span{
	height:40px;
	background-color: red;
	margin-right: 20px;
	text-align: center;
	color: white;
	display:inline-block;
	width: 0;
	line-height: 40px;
	opacity:0;
}
li:hover span{
	width: 40px;
	opacity:1.0;

	
}
ul{
	margin: 0;
	padding:0;
}

li{
	list-style: none;
	height:40px;
	border:1px solid light;
	margin: 0;
	line-height: 40px;
	background-color: white;



}

input[type='text']{
	width:336px;
	height:40px;
	border 5px solid lightblue;
	outline: none;
}

#container{
	border: 1px solid gray;
	width:340px;
	margin: 0 auto;
	
        
}
.completed{
	text-decoration:line-through;
    color:black;
}